@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

main > section{
    margin-top: 130px;
}

/* header Style */

/* navbar related style */

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px; 
     margin: 0 auto; 
}

/* banner style */
.banner{
    
    
    

}
.btn-primary{
    padding: 20px 24px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 24px;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
main{
    margin: 0 auto;
    max-width: 1440px;
}
/* team feature Style */
.fetures{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
}
.fetures-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-Content{
    margin-left: 130px;
    margin-top: 130px;
    max-width: 530px;
}
.feature-title{
    font-weight: 700;
    font-size: 2.8rem;

}
.features{
    color: rgb(255, 144, 14);
}
#quick-list{
    font-weight: 600;
}
.team-button{
    margin-top: 32px;
}
/* facts some style */
.fact-heading{
    max-width: 540px;
    font-size: 2.8rem;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-name{
    font-size: 1.28rem;
    font-weight: 600;
    margin-top: 10px;
}
/* Responsive media query */
@media screen and (max-width:576px) {

    .navbar, 
    .nav-links,
    .fetures
    
    {
        flex-direction: column;
    }
    .fetures-image, .fact-container{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .feature-Content{
        margin-left: 20px;
    }

    .fact-container{
       justify-items: center;
       gap: 24px;
    }
}


/* medium size Device */

@media screen and (min-width:576px) and (max-width:992px) {
    .fetures{

        flex-direction: column;
        margin-left: 50px;
    }
    
}